.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/*.key
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
public/storage
public/hot
tests
.phpunit.cache
template&report/
